<!-- Template -->
<div class="form-group">
    <label class="col-md-2 control-label"></label>
    <label class="col-md-9 control-label">{{ slidemodel.template ? slidemodel.template : 'default' }}</label>
</div>
<!-- Slide Number -->
<div class="form-group" ng-class="{ 'has-error' : submitted && slidemodel.slideNumber.$invalid }" >
    <label mean-token="'create-slideNumber'" class="col-md-2 control-label">Slide Number</label>
    <div class="col-md-9">
        <input type="number" class="form-control" data-ng-model="slidemodel.slideNumber" id="slideNumber" min="1" max="99" required>
        <div ng-show="submitted && conceptForm.slideNumber.$invalid" class="help-block">
            <p ng-show="conceptForm.slideNumber.$error.required">Slide Number is required</p>
        </div>
    </div>
</div>

<div class="form-group">
    <label mean-token="'create-content'" for="content" class="col-md-2 control-label">Content</label>
    <div class="col-md-9">
        <redactor data-ng-model="slidemodel.content" id="content" class="form-control"></redactor>
    </div>
</div>
<!-- TODO::
    Figure out way to not include content-right in the template and compile directive everytime scope is updated
 -->
<div data-ng-show="slidemodel.template === '2-col'" class="form-group">
    <label mean-token="'create-content-right'" for="contentRight" class="col-md-2 control-label">Content Right</label>
    <div class="col-md-9">
        <redactor data-ng-model="slidemodel.contentRight" id="contentRight" class="form-control"></redactor>
    </div>
</div>

<!-- Data X -->
<div class="form-group">
    <label mean-token="'create-dataX'" class="col-md-2 control-label">Data-X</label>
    <div class="col-md-9">
        <input name="dataX" type="number" class="form-control" data-ng-model="slidemodel.dataX" id="dataX" placeholder="Data-X">
    </div>
</div>

<!-- Data Y -->
<div class="form-group">
    <label mean-token="'create-dataY'" class="col-md-2 control-label">Data-Y</label>
    <div class="col-md-9">
        <input name="dataY" type="number" class="form-control" data-ng-model="slidemodel.dataY" id="dataY" placeholder="Data-Y">
    </div>
</div>

<!-- Data Z -->
<div class="form-group">
    <label mean-token="'create-dataZ'" class="col-md-2 control-label">Data-Z</label>
    <div class="col-md-9">
        <input name="dataZ" type="number" class="form-control" data-ng-model="slidemodel.dataZ" id="dataZ" placeholder="Data-Z">
    </div>
</div>

<!-- Data Rotate -->
<div class="form-group">
    <label mean-token="'create-dataRotate'" class="col-md-2 control-label">Data-Rotate</label>
    <div class="col-md-9">
        <input name="dataRotate" type="number" class="form-control" data-ng-model="slidemodel.dataRotate" id="dataRotate" placeholder="Data-Rotate">
    </div>
</div>

<!-- Data Scale -->
<div class="form-group">
    <label mean-token="'create-dataScale'" class="col-md-2 control-label">Data-Scale</label>
    <div class="col-md-9">
        <input name="dataScale" type="number" class="form-control" data-ng-model="slidemodel.dataScale" id="dataScale" placeholder="Data-Scale">
    </div>
</div>